.button-slip {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 25px;
}

.button-slip__link {
  background-color: inherit;
  border: none;
  color: #000000;
  cursor: pointer;
  &:hover .button-slip__link-text {
    left: 30px;
  }

  &:hover .button-slip__link-box {
    background-color: #e74a51;
  }
}

.button-slip__link-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  text-align: start;
  transition: left 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #323336;
}

.button-slip__link-span {
  border-bottom: 3px solid #000000;
}

.button-slip__link-box {
  margin-left: 60px;
  height: 200px;
  width: 200px;
  background: #f6e701;
  transition: background 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
