.header {
  z-index: 1;
  background-color: #ffffff;
  position: fixed;
  width: 100%;

  @include mq($from: tablet) {
	}
}

.header__wrapper {
  box-shadow: 0 1px 15px rgba(0,0,0, .15);

	@include mq($from: tablet) {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}


.header__inner {
  z-index: 2;
	position: relative;
	background-color: #ffffff;

  @include mq($from: tablet) {
		padding-left: 30px;
	}

  @include mq($from: desktop) {
    padding-left: 50px;
	}
}

.header__container {
  z-index: 3;
  position: relative;
  padding-right: 15px;
  display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
  max-width: $max-container-width;

  background-color: #ffffff;

  @include mq($from: phablet) {
  }

  @include mq($from: tablet) {
  }

  @include mq($from: tablet-wide) {
  }

  @include mq($from: desktop) {
  }
}

.header__title {
font-size: 15px;
}