.header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;

  @include mq($from: tablet) {
		display: flex;
    justify-content: space-between;
    align-items: center;
	}
}

.header__wrapper {
  z-index: 2;
	position: relative;
	background-color: #ffffff;
}

.header__inner {
  z-index: 2;
	position: relative;
	background-color: #ffffff;
}

.header__container {
  z-index: 3;
  position: relative;
  display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
  max-width: $max-container-width;

  background-color: #ffffff;

  @include mq($from: phablet) {
  }

  @include mq($from: tablet) {
  }

  @include mq($from: tablet-wide) {
  }

  @include mq($from: desktop) {
  }
}

.header__title {
font-size: 15px;
}