.navbar__button {
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  transition: opacity 0.5s ease;
  outline: none;

  &:hover {
    opacity: 1;
    filter: none;
  }

  @include mq($from: tablet) {
    display: none;
  }
}

.navbar__button span {
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #ffffff;
  transform: translateY(11px);
  transition: transform 0.5s ease, border-color 0.5s ease 0.3s;
}

.navbar__button span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transform: translateY(-22px);
  animation-name: topLineBurger;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.navbar__button span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: translateY(22px);
  animation-name: bottomLineBurger;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.navbar__button.opened span {
  border-color: transparent;
  transition: border-color 0.3s ease;
}

.navbar__button.opened span:before {
  animation-name: topLineCross;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.navbar__button.opened span:after {
  animation-name: bottomLineCross;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

@keyframes topLineCross {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}

@keyframes bottomLineCross {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}

@keyframes topLineBurger {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(-10px) rotate(0deg);
  }
}

@keyframes bottomLineBurger {
  0% {
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(10px) rotate(0deg);
  }
}
