.modal {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #0000006c;
	opacity: 0;
	
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	}

	.modal__inner {
		position: relative;
		z-index: 100;
		top: 5vw;
		left: 50%;
		transform: translate(-50%);
		width: 90%;
		margin-top: 20px;

		@include mq($from: desktop) {
			position: absolute;
			max-width: 1000px;
		}
	}

	.modal-content {
		position: relative;
		height: 200px;
		background-color: #fff;
		padding: 1rem 1.5rem;
		border-radius: 0.5rem;
		overflow: auto;
		@include mq($from: desktop) {
			height: 200px;
		}
	}

	.show-modal {
		opacity: 1;
		visibility: visible;
		transform: scale(1.0);
		transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
	}

	.modal__form {

		@include mq($from: tablet) {
			flex-direction: column;
		}
	}

	.form__block {
		margin: 0;
		margin-top: 20px;

		@include mq($from: phablet) {
			display: flex;
   		justify-content: space-between;
			width: 70vw;
			margin: 0 auto;
			margin-top: 20px;
    	align-items: center;
		}

		@include mq($from: desktop) {
			max-width: 900px;
		}

		label {
			font-size: 14px;
			color: #263238;
			padding-left: 10px;
			text-align: center;
			vertical-align: middle;

			@include mq($from: phablet) {
				font-size: 16px;
			}

			@include mq($from: tablet-wide) {
				font-size: 20px;
			}

			@include mq($from: desktop) {
				font-size: 20px;
			}
		}
	}

	.form__block-contact {

		@include mq($from: phablet) {
			align-items: inherit;
			flex-direction: column;
		}
	}

	.form__block-title {
		margin-bottom: 0;
		margin-top: 30px;
		text-align: center;
		padding-left: 10px;
		font-size: 14px;
			color: #8F95A5;

		@include mq($from: phablet) {
			font-size: 18px;
			padding: 0;
			margin-top: 30px;
		}

		@include mq($from: tablet-wide) {
			font-size: 20px;
		}

		@include mq($from: desktop) {
			font-size: 20px;
		}
	}

	.modal__input {
		margin-top: 10px;
		margin-bottom: 0;

		@include mq($from: phablet) {
			width: 55vw;
		}

		@include mq($from: desktop) {
			width: 85%;
		}
	}


	.chain {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 20px;

		@include mq($from: tablet) {
			margin-top: 20px;
		}
	}

	.chain__lable {
		width: 40%;
		margin-top: 30px;

		@include mq($from: tablet) {
			width: auto;
		}
	}

	.chain__checkbox {
		display: none;
	}

	.chain__checkbox:checked + .chain__text::after {
		opacity: 1;
		transform: scale(1);
		transition: 0.5s;
	}

	.chain__text {
		position: relative;
		font-size: 20px;
		transition: 0.5s;

		img {
			width: 40px;
			height: 40px;

			@include mq($from: phablet) {
				width: 50px;
				height: 50px;
			}

		}
	}

	.chain__checkbox:checked + .chain__text {
		opacity: 0.3;
	}

	.close-button {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 30px;
		right: 20px;
		padding: 0;
		margin: 0;
		border: none;
		
		cursor: pointer;
		background-color: transparent;

		&::after,
		&::before {
			content: "";
			position: absolute;
			right: 0px;
			width: 20px;
			height: 3px;
			background-color: #263238;
			border-radius: 5px;
		}

		&::after {
			transform: rotate(45deg);
		}

		&::before {
			transform: rotate(-45deg);
		}
	}

	.modal__btn {
		height: 60px;
		margin-top: 30px;
		margin-bottom: 0;
		
		@include mq($from: phablet) {
			position: relative;
			align-items: center;
			margin-top: 40px;
		}

		@include mq($from: tablet) {
			height: 50px;
		}	
		
		@include mq($from: desktop) {
			height: 80px;
		}
	}
		
	

	

	