.menu {
	position: absolute;
	width: 100%;
	transform: translateY(-150%);
	background-color: #626364;
  transition: transform 0.6s ease-in-out;

	@include mq($from: tablet) {
		position: relative;
		display: flex;
		flex-direction: row;
		width: auto;
		padding-right: 20px;
		align-items: center;
		background-color: inherit;
		transform: translateY(0);
  }

	@include mq($from: desktop) {
    padding-right: 40px;
	}
}

.menu--active {
	position: absolute;
	transform: translateY(0);
	transition: 0.6s ease-in-out;

	@include mq($from: tablet) {
		display: flex;
		justify-content: end;
  }
}

.menu__wrapper {
	position: relative;
}

.navbar__list {
	list-style: none;
	padding-left: 0;
	margin: 0;

	@include mq($from: tablet) {
		position: relative;
		display: flex;
		flex-direction: row;
	}
}

