.product {
	z-index: 3;
	height: 500px;
	position: relative;
	padding-top: 80px;
	background-color: #ffffff;
}

.product-top, .product-bottom {
	@include mq($from: tablet) {
		float: right;
    width: 43%;
  }
}

.product__top {
	
}

.product__title {
	font-size: 26px;
	font-weight: 500;
	line-height: 1.3em;
}

.product__gallery {
	width: 70%;
	margin: 0 auto;

	@include mq($from: tablet) {
    width: 53%;
		float: left;
  }
}

.product__text {
	font-size: 16px;
	line-height: 1.6;
	color: #757575;
}
