.product {
	position: relative;
	color: #3C4852;
	margin-top: 80px;
}

.product__content {
	transition: 0.6s ease-in-out;
	&:hover {
		transition: 0.6s ease-in-out;
		svg {
			transition: 0.6s ease-in-out;
			fill: #E74A51;
		}
		
	}
}


.product__bg-svg, .product__bg-img {
	position: absolute;
	right: 10%;	
	height: auto;
	fill: #FFCC80;
	transition: 0.6s ease-in-out;
}

.product__bg-svg {
	width: 70vw;

	@include mq($from: phablet) {
		width: 45vw;
	}
}

.product__bg-img {
	display: none;

	@include mq($from: tablet) {
		display: block;
		width: 35vw;
		right: 5%;
	}
}

.product__title {
	position: relative;
	font-size: 13vw;
	font-weight: 600;
	padding-top: 40px;
	text-align: end;
	

	@include mq($from: phablet) {
		font-size: 9vw;
		
	}

	@include mq($from: tablet) {
		width: 480px;
		font-size: 8vw;
		text-align: start;
	}
}

.product__text {
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	letter-spacing: normal;
}