.product {
  z-index: 3;
  position: relative;
  padding-top: 40px;
  background-color: #ffffff;
  padding-bottom: 60px;

  @include mq($from: tablet) {
    height: 600px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.product__container {
  max-width: 1200px;
}

.product-top,
.product-bottom {
  @include mq($from: tablet) {
    float: right;
    width: 43%;
  }
}

.product__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3em;

  @include mq($from: tablet-wide) {
    font-size: 35px;
  }
}

.product__gallery {
  width: 100%;
  margin: 0 auto;

  @include mq($from: tablet) {
    width: 53%;
    float: left;
  }

  @include mq($from: tablet-wide) {
    width: 40%;
  }
}

.product__text {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.6;
  color: #757575;

  @include mq($from: phablet) {
    margin-top: 25px;
  }

  @include mq($from: tablet-wide) {
    font-size: 18px;
  }
}

.product__price {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;

  @include mq($from: phablet) {
    margin-top: 25px;
  }

  @include mq($from: tablet) {
    text-align: start;
  }
}

.product__price-tablet {
  display: none;

  @include mq($from: tablet) {
    display: block;
    color: #689f38;
    font-size: 37px;
    text-align: start;
  }
}

.product__price-camera {
  @include mq($from: tablet) {
    display: none;
  }
}
