.product {
	position: relative;
	color: #3C4852;
	height: 100vh;
	margin-top: -80px;
}

.product__container {
	margin: 0 auto;
	max-width: $max-container-width;
}

.product__content {
	transition: 0.6s ease-in-out;

	&:hover {
		transition: 0.6s ease-in-out;
		svg {
			transition: 0.6s ease-in-out;
			fill: #E74A51;
		}
	}

	@include mq($from: phablet) {
    padding: 0 20px;
  }

  @include mq($from: tablet) {
    padding: 0 30px;
  }

  @include mq($from: tablet-wide) {
    padding: 0 40px;
  }

  @include mq($from: desktop) {
    padding: 0 50px;
  }
}

.product__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}


// .product__bg-svg, .product__bg-img {
// 	position: absolute;
// 	height: auto;
// 	fill: #FFCC80;
// 	transition: 0.6s ease-in-out;
// }

// .product__bg-svg {
// 	width: 70vw;

// 	@include mq($from: phablet) {
// 		width: 45vw;
// 	}

// 	@include mq($from: tablet-wide) {
// 		width: 40vw;
// 	}

// 	@include mq($from: desktop) {
// 		width: 30vw;
// 		max-width: 520px;
// 	}
// }

// .product__bg-img {
// 	display: none;

// 	@include mq($from: tablet) {
// 		display: block;
// 		width: 35vw;
// 		right: 10%;
// 	}

// 	@include mq($from: tablet-wide) {
// 		width: 30vw;
// 	}

// 	@include mq($from: desktop) {
// 		width: 25vw;
// 		max-width: 450px;
// 	}
// }

.product__title {
	position: relative;
	font-size: 13vw;
	font-weight: 600;
	padding-top: 80px;
	text-align: end;
	margin-top: 80px;
	color: #ffffff;
	

	@include mq($from: phablet) {
		font-size: 9vw;
		
	}

	@include mq($from: tablet) {
		width: 480px;
		font-size: 8vw;
		text-align: start;
		font-weight: 700;
	}

	@include mq($from: tablet-wide) {
		width: 700px;
		font-size: 6vw;
	}
	
	@include mq($from: desktop) {
		width: 50vw;
		font-size: 98px;
	}
}

.product__text {
	z-index: 1;
	position: relative;
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	letter-spacing: normal;
	width: 30%;
}

.z-index {
	z-index: 20;
	background-color: #E74A51;
	position: relative;
}