.svg-hover {
  fill: #323336;
  transition: 0.3s ease-in-out;

  &:hover {
    fill: #e74a51;
  }
}

.footer__link-svg,
.footer__link-svg--social {
  fill: #ffffff;
  transition: 0.2s ease-in-out;
}

.footer__link-svg--social:hover {
  fill: #e74a51;
}
