body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: bisque;
}

a {
  text-decoration: none;
  
}

.container {
  margin: 0 auto;
  max-width: $max-container-width;
  padding: 0 20px;

  @include mq($from: phablet) {
    padding: 0 20px;
  }

  @include mq($from: tablet) {
    padding: 0 30px;
  }

  @include mq($from: tablet-wide) {
    padding: 0 65px;
  }

  @include mq($from: desktop) {
    padding: 0 130px;
  }
}

.section {
  margin-bottom: $section-margin-bottom;

  &--no-margin {
    margin-bottom: 0;
  }
}

.footer {
  margin-top: auto;
}
