@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 400;
  src: local('SourceSansPro Regular'), local('SourceSansPro-Regular'),
    url('../fonts/SourceSansPro-Regular.ttf') format('ttf');
}
